.wrapper
{
    height: 75vh;
    width: 100%;
    display: grid;
    grid: none /repeat(5,1fr);
    gap: 5px;
    background-color: greenyellow;
}
.strobe
{
    background-color: white;
}

.strobe:first-child:hover
{
    animation-name: fade;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.strobe:nth-child(2):hover
{
    animation: fade 1.5s infinite;
}
.strobe:nth-child(3):hover
{
    animation: fade 1.5s infinite;

}
.strobe:nth-child(4):hover
{
    animation: fade 1.5s infinite;

}
.strobe:last-child:hover
{
    animation: fade 1.5s infinite;

}


@keyframes fade{
    0%{
        background-color: yellow;
    }

    100%{
        background-color: white;
    }
}